/MediaIndex/build
/MusicServer/bin
/MusicServer/nbproject/private/
/MusicServer/build/
/MusicServer/dist/
/MusicWebApp/gwt-unitCache
/MusicWebApp/test-classes
/MusicWebApp/war/musicwebapp
/MusicWebApp/war/WEB-INF
*~
/apache-sshd-0.7.0/src/target/
/apache-sshd-0.7.0/src/sshd-core/target/
/apache-sshd-0.7.0/src/sshd-pam/target/
/Mini-Webserver/nbproject/private/