/** Add css rules here for your application. */

* {
    margin: 0;
}
html, body {
    height: 99%;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -30px; /* the bottom margin is the negative value of the footer's height */
}

body {
    background-image: url("images/bg2.png");
}

h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.topBar {
    margin-top: 2px;
    margin-left: 4px;
    margin-right: 4px;
    border: 1px solid #5aadeb;
    padding: 4px;
    background-color: white;
    height: 32px;
}

.logo {
    background-image: url("images/logo.png");
    background-repeat: no-repeat;
    width: 256px;
    height: 32px;
    float: left;
}

.innerWrapper {
    display: table;
    margin-top: 4px;
    border-spacing: 4px;
    height: 100%;
}

.sideBar {
    display: table-cell;
    border: 1px solid #5aadeb;
    background-color: white;
    width: 80px;
}

.menuItemBack {
    background-color: #eeeeee;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 80px;
}

.menuItemSearch {
    background-image: url("images/search.png");
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    margin-left: 28px;
    margin-right: 28px;
}

.menuItemBrowse {
    background-image: url("images/note.png");
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    margin-left: 28px;
    margin-right: 28px;
}

.menuItemFolders {
    background-image: url("images/folders.png");
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    margin-left: 28px;
    margin-right: 28px;
}

.menuItemPlaylists {
    background-image: url("images/playlist.png");
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
    margin-left: 29px;
    margin-right: 29px;
}

.menuItemSettings {
    background-image: url("images/gears.png");
    background-repeat: no-repeat;
    width: 26px;
    height: 28px;
    margin-left: 27px;
    margin-right: 27px;
}

.menuItemText {
    font-weight: bold;
    font-size: small;
    text-align: center;
}

.mainArea {
    display: table-cell;
    margin-top: 4px;
    border: 1px solid #5aadeb;
    padding: 4px;
    background-color: white;
    width: 800px; /* TODO: testing only */
    height: 600px; /* TODO: testing only */
}

.sidePlaylist {
    display: table-cell;
    margin-top: 4px;
    margin-left: 4px;
    margin-right: 4px;
    border: 1px solid #5aadeb;
    padding: 4px;
    background-color: white;
    width: 200px;
}

.push {
    height: 30px;
}

.footer {
    width: 100%;
    height: 30px;
    text-align: center;
}

.copyright {
    display: inline;
    padding: 10px;
    font-size: 14px;
    text-shadow: -1px -1px 0px #aaaaaa;
    filter: dropshadow(color=#aaaaaa, offx=-1, offy=-1);
}